<ion-content>
  <ion-grid class="game center">
    <div *ngFor="let item of items; let i = index">
      <ion-row class="row">
        <div *ngFor="let item of items; let j = index">
          <ion-col class="col-25">
            <ion-img src="build/images/panel.png" (click)="open(i,j)" *ngIf="principal[i][j]"></ion-img>
            <ion-img src={{paths[i][j]}} (click)="open(i,j)" *ngIf="!principal[i][j]"></ion-img>
          </ion-col>
        </div>
      </ion-row>
    </div>
    <div>
      <div>Attempts: {{attempts}}</div>
    </div>
  </ion-grid>
</ion-content>