<ion-content (window:resize)="onResize($event)">
  <div *ngFor="let item of items; let i = index">
    <div *ngFor="let item of items; let j = index">
      <ion-img src="build/images/panel.png" class="game box" width="{{width}}" height="{{height}}" (click)="open(i,j)" *ngIf="principal[i][j]"></ion-img>
      <ion-img src={{paths[i][j]}} class="game box" width="{{width}}" height="{{height}}" (click)="open(i,j)" *ngIf="!principal[i][j]"></ion-img>
    </div>
  </div>
  <ion-item>
    <ion-icon name="stats" item-left></ion-icon>
    Attempts
    <ion-badge item-right>{{attempts}}</ion-badge>
  </ion-item>
  <button full (click)="back()">
      <- Back
    </button>
</ion-content>